<app-navbar></app-navbar>

 <!-- <button class="btn btn-info" (click)="getAllusers()">Get-All-users</button> -->
<!-- <div class="container">
      
    <table class="table table-bordered" >
      <tbody *ngFor="let user of users">
        <tr>
          <td></td>
          <td>{{user.fname}}</td>
          <td>{{user.email}}</td>
       
        </tr>
      </tbody>
    </table>
  </div>  -->
<!-- <div class="container">
  <div *ngFor="let user of users">
    <div class="table-responsive">          
      <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{user.fname}}</td>
          <td>{{user.email}}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div> -->