/* You can add global styles to this file, and also import other style files */
body{

    background: #76b852;
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
}
